<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Video Call Interface</title>

  <link rel="stylesheet" href="/styles/room.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script>
    const ROOM_ID = "<%= roomId %>";
  </script>

  
  <script defer src="https://unpkg.com/peerjs@latest/dist/peerjs.min.js"></script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/script.js"></script>
</head>

<body>
  <h1>Video Call Interface</h1>
  <div id="video-grid"></div>
  <div id="controls">
  <button id="toggle-audio"><i class="fas fa-microphone"></i></button>
  <button id="toggle-video"><i class="fas fa-video"></i></button>
  <button id="end-call" style="background-color: #ff4d4d;"><i class="fas fa-phone-slash"></i></button>
  </div>

  <script>
    document.getElementById('toggle-audio').addEventListener('click', () => {
      const icon = document.querySelector('#toggle-audio i');
      if (icon.classList.contains('fa-microphone')) {
        icon.classList.replace('fa-microphone', 'fa-microphone-slash');
        toggleAudio(); 
      } else {
        icon.classList.replace('fa-microphone-slash', 'fa-microphone');
        toggleAudio(); 
      }
    });
    
    document.getElementById('toggle-video').addEventListener('click', () => {
      const icon = document.querySelector('#toggle-video i');
      if (icon.classList.contains('fa-video')) {
        icon.classList.replace('fa-video', 'fa-video-slash');
        toggleVideo(); 
      } else {
        icon.classList.replace('fa-video-slash', 'fa-video');
        toggleVideo(); 
      }
    });
    document.getElementById('end-call').addEventListener('click', () => {
  socket.emit('left-call', myPeer.id);
  if (myPeer) myPeer.destroy();
  if (myStream) myStream.getTracks().forEach(track => track.stop());
  socket.disconnect();
  window.location.href = '/left'; // go to the goodbye page
});


    document.getElementById('settings-btn').addEventListener('click', () => {
      fetch('/run-something')
        .then(res => res.text())
        .then(console.log);
    });
    
  </script>
</body>
</html>
